#generate{
    padding-left: 80px;
    margin-bottom: 20px;
}

#gen{
    border: none;
    background-color: red;
    height: 25px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

#gen:active{
    background-color: black;
}

#output-zone{
    padding-left: 40px;
}

#output{
    border: none;
    border-bottom: solid gray 1px;
    background-color: transparent;
    color: white;
    height: 12px;
}

#output:active{
    border: none;
    border-bottom: solid gray 1px;
}

#whole{
    margin-top: 100px;
    margin-left: 240px;
}

body{
    background-image: url(heat.jpg);
}

#title{
    font-family: roboto;
    font-weight: bold;
    color: aliceblue;
}

#copy{
    background-color: blue;
    color: white;
    border: none;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

.specifications{
    display: inline;
    color: white;
    margin-left: 5px;
}

#spec-bar{
    margin-bottom : 6px;
    margin-left: 15px;
}